@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-script: "Dancing Script", cursive;
  --color-brand-green: #CAD4CD;
  --color-brand-dark-green: #607564;
  --color-brand-accent: #C86B53;
  --color-brand-dark: #2C302E;
}

@layer base {
  html {
    font-size: 112.5%; /* Roughly 2pt bigger (18px base) */
  }
}
